{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Automatic Carousel</title>

  <link rel="stylesheet" type="text/css" href=" {% static 'styles/css.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-...YourIntegrityHashHere..." crossorigin="anonymous" />

  <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css ' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'styles/font-awesome.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">

  <link rel="stylesheet" href="{% static 'styles/templatemo-hexashop.css' %}">

  <link rel="stylesheet" href="{% static 'styles/menubar.css' %}">
  {% block htmlhead %}
  {% endblock htmlhead %}

</head>
<body>
<header>

  <div >
    <div class="mainlogo"><img src="{% static 'images/fc_logo.png' %}" alt="">  
                    <div class="about">
                        
                        <ul>

                          <li><a href="{% url 'user_login'%}">Login | </a></li>
                          <li><a href="{% url 'register'%}">Register </a><span>|</span></li>
                            <li><a href="{% url 'user_login'%}">Wishlist </a><span>|</span></li>
                            <li><a href="{% url 'user_login'%}">Cart</a></li>
            
                        </ul>
                    </div>
        </div>
    </div>   

    <!-- ***** Header Area End ***** -->

  <!-- navmenu -->
    <nav >
        <div class="wrapper">
          <input type="radio" name="slider" id="menu-btn">
          <input type="radio" name="slider" id="close-btn">
          <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a href="{% url 'first' %}">Home</a></li>
            
           
           
           
          </ul>
          <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
      </nav>

</header>

<!-- End of the navmenu-->

{% block content %}


{% endblock %}

 <!-- ***** Footer Start ***** -->
 <footer>
    <div class="container" style="margin-top: -100px;">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                        <img src="{% static 'images/fc_logo.png' %}" alt="hexashop ecommerce templatemo">
                    </div>
                    <ul>
                        <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                        <li><a href="#">firstcry.com</a></li>
                        <li><a href="#">010-020-0340</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Shopping &amp; Categories</h4>
                <ul>
                    <li><a href="#">Men’s Shopping</a></li>
                    <li><a href="#">Women’s Shopping</a></li>
                    <li><a href="#">Kid's Shopping</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Homepage</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Tracking ID</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>Copyright © 2022 Firstcry. All Rights Reserved. 
                    
                   
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </footer>
  
  
  
  
  
  
  
  
  
  
  
  {% block extrascripts %}
  {% endblock %}
  </body>
  </html>