
{% csrf_token %}
{% load static %}

{% for p in data %}
<div class="col-lg-4 big" >

    <div class="item"  id ="parent" style="  display:table-cell; vertical-align:middle; text-align:center; margin-bottom: 2px;" >
        <div class="thumb product" id="child" data-product-id="{{ p.id }}">
          <div class="hover-content" style="width: 100%; " id="hover-content">
            
          <a data-product="{{p.id}}" class="link-button add-to-cart" id="add_to_cart"  > ADD TO CART</a>
          

           <a   data-product="{{p.id}}" class="link-button2 add-to-wishlist" id=" add_to_wishlist" >
           WISHLIST
             </a>
              
        </div>
            {% if p.image %}
            <a href="{% url 'selectoneproduct' p.id %}" >  <img src="{{p.image.url}}" class="image" alt=""  style="width: 380px;">   </a> 
            {%endif%}
        </div>
 
        <div class="down-content"  > 
            <div style=" height: 50px;"><h6 style="font-size: 15px;">{{p.name}}</h6></div>
            <div style="display: flex ; margin-top: 1px;">
       
          <div>
            <h6 style="font-size: 18px;">
              <i class="fa fa-rupee"  ></i>{{p.Offer_price }}</h6>
          </div>
               <div style="margin-left: 20px; margin-top: -2px; display: flex;">
                <span style="text-decoration: line-through;">
                  <i class="fa fa-rupee" style="text-decoration: line-through;" ></i>{{p.price}} </span> 
                  &nbsp;&nbsp; 
                  <span style="color: red;">({{p.deal}}% Off)</span>
                </div> 
                <br>
          
         
            </div>
        </div>
        <div class="color-line" >
          <div class="color" ><button class="color-button" data-id="{{ p.varient.colors.code }}" ></button>
            

          </div>
          <div class="line"></div>
          
        </div>
      
        <form action=" {% url 'selectoneproduct' p.id %}" method="post">
          {% csrf_token %}
        <div class="size-content" style="line-height: 1px;">
            
          {% if p.varient.zerotothreeM > 0 %}
          <button type="submit" name="zerotothreeM"> 0 - 3M</button>
          {%endif%}
          {% if p.varient.threetosixM > 0 %}
          <button  type="submit" name="threetisixM" > 3 - 6M</button>
          {%endif%}
          {% if p.varient.sixtonineM > 0 %}
          <button  type="submit" name="sixtonineM"> 6 - 9M</button>
          {%endif%}
          {% if p.varient.ninetotwelveM > 0 %}
          <button  type="submit" name="ninetotwelveM"> 9 - 12M</button>
          {%endif%}
          {% if p.varient.twelvetoeighteenM > 0 %}
          <button  type="submit" name="twelvetoeighteenM"> 12 - 18M</button>
          {%endif%}
          {% if p.varient.eighteentotwentyfourM > 0 %}
          <button  type="submit" name="eighteentotwentyfourM"> 18 - 24M</button>
          {%endif%}
          {% if p.varient.twotofourY > 0 %}
          <button  type="submit" name="twotofourY"> 2 - 4Y</button>
          {%endif%}
          {% if p.varient.zerotothreeM > 0 and p.varient.threetosixM > 0 and p.varient.sixtonineM > 0  and p.varient.ninetotwelveM > 0 and  p.varient.twelvetoeighteenM > 0  %}
            <button  type="submit" name="more"> +More</button>
          {%elif  p.varient.sixtonineM > 0  and p.varient.ninetotwelveM > 0 and  p.varient.twelvetoeighteenM > 0 and p.varient.fourtosixY > 0 and p.varient.sixtoeightY > 0  %}
            <button  type="submit" name="more"> +More</button>
          {%else%}
            {%if p.varient.fourtosixY > 0 %}
            <button type="submit" name="fourtosixY">4 - 6Y</button>
            {%endif%}
            {%if p.varient.sixtoeightY > 0 %}
            <button type="submit" name="sixtoeightY">6 - 8Y</button>
            {%endif%}
          {% endif %}  
        </div>

      </form>
         <i></i>
        </div>
    </div>
    {% endfor %}

    
&nbsp;&nbsp;&nbsp; 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   
<script src="{% static 'js/adding.js' %}"></script>
          

          