
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Firstcry</title>

  <link rel="stylesheet" type="text/css" href=" {% static 'styles/css.css' %}" />


  <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css ' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'styles/font-awesome.css' %}">

   <link rel="stylesheet" href="{% static 'styles/templatemo-hexashop.css' %}">

  <link rel="stylesheet" href="{% static 'styles/menubar.css' %}">

  <link rel="stylesheet" href="{% static 'styles/new.css' %}">

  <link rel="stylesheet" href="{% static 'styles/foruser.css' %}"> 
 
  <style>


   




  </style>


</head>
<body>
<header>

  <div >
    <div class="mainlogo"><img src="{% static 'images/fc_logo.png' %}" alt="">  
                    <div class="about">
                        
                        <ul>
                            <li><a href="">Track Order | </a></li>
                            <li><a href="{% url 'logout' %}">LogOut </a><span>|</span></li>
                            <li><a href="{% url 'useraccount' %}">Account </a><span>|</span></li>
                            <li><a href="{% url 'wishlist' %}">Wishlist </a><span>|</span></li>
                            <li><a href="{% url 'cart' %}">Cart</a></li>
            
                        </ul>
                    </div>
        </div>
    </div>   

    <!-- ***** Header Area End ***** -->

  <!-- navmenu -->
  <nav >
    <div class="wrapper">
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="{% url 'userhome' %}">Home</a></li>
        <li>

          <a href="#" class="desktop-item">ALL CATEGORY</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Mega Menu</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
         
              </div>
              <div class="row">
                <header>Design Services</header>
                <ul class="mega-links">
                  <li><a href="#">Graphics</a></li>
                  <li><a href="#">Vectors</a></li>
                  <li><a href="#">Business cards</a></li>
                  <li><a href="#">Custom logo</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Email Services</header>
                <ul class="mega-links">
                  <li><a href="#">Personal Email</a></li>
                  <li><a href="#">Business Email</a></li>
                  <li><a href="#">Mobile Email</a></li>
                  <li><a href="#">Web Marketing</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Security services</header>
                <ul class="mega-links">
                  <li><a href="#">Site Seal</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                  <li><a href="#">Privacy Seal</a></li>
                  <li><a href="#">Website design</a></li>
                </ul>
              </div>
            </div>
          </div>



        </li>
        <li>
          <a href="#" class="desktop-item">Mega Menu</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Mega Menu</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
             
              </div>
              <div class="row">
                <header>Design Services</header>
                <ul class="mega-links">
                  <li><a href="#">Graphics</a></li>
                  <li><a href="#">Vectors</a></li>
                  <li><a href="#">Business cards</a></li>
                  <li><a href="#">Custom logo</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Email Services</header>
                <ul class="mega-links">
                  <li><a href="#">Personal Email</a></li>
                  <li><a href="#">Business Email</a></li>
                  <li><a href="#">Mobile Email</a></li>
                  <li><a href="#">Web Marketing</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Security services</header>
                <ul class="mega-links">
                  <li><a href="#">Site Seal</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                  <li><a href="#">Privacy Seal</a></li>
                  <li><a href="#">Website design</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="#" class="desktop-item">Mega Menu</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Mega Menu</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
       
              </div>
              <div class="row">
                <header>Design Services</header>
                <ul class="mega-links">
                  <li><a href="#">Graphics</a></li>
                  <li><a href="#">Vectors</a></li>
                  <li><a href="#">Business cards</a></li>
                  <li><a href="#">Custom logo</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Email Services</header>
                <ul class="mega-links">
                  <li><a href="#">Personal Email</a></li>
                  <li><a href="#">Business Email</a></li>
                  <li><a href="#">Mobile Email</a></li>
                  <li><a href="#">Web Marketing</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Security services</header>
                <ul class="mega-links">
                  <li><a href="#">Site Seal</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                  <li><a href="#">Privacy Seal</a></li>
                  <li><a href="#">Website design</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#">Feedback</a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>

</header>

<!-- End of the navmenu-->
<!-- Banner starts here    -->

<div id="carousel123-container">
<div id="carousel123" >
<div class="carousel123-item" ><img class="cauroselimg"  src="{% static 'images/products-page-heading.jpg' %}"  alt="Image 1"></div>
<div class="carousel123-item"><img src="{% static 'images/slider1.jpg' %}" alt="Image 2"></div>
<div class="carousel123-item"><img src="{% static 'images/slider1.jpg' %}" alt="Image 3"></div>
</div>
<div id="prevBtn">&#10094;</div>
<div id="nextBtn">&#10095;</div>
</div>

<br><br>
<!-- End of banner -->
<section class="section" id="products" style="margin-top: 10%; ">
  
    <div class="foralighn" style="width: 100%;   display: flex ;">
    <div style="background-color: aqua; margin-left: 10%;  width: 250px;">
      
      <li>
        <label>
          <input style="width: 20px; height: 20px;" type="checkbox" name="amountUnder300"  data-filter="necktype" value="Rounded" class="filter-checkbox">
          Rounded Neck
        </label>
      </li>
      <li>
        <label style="height: 35px; cursor: pointer;">
          <input style="width: 20px; height: 20px;" type="checkbox" name="amountUnder300"  data-filter="necktype" value="Collar" class="filter-checkbox">
          Collar Neck
        </label>
      </li>
      <li>
        <label>
          <input style="width: 20px; height: 20px;  "  type="checkbox" name="amountUnder300"   value="under300" class="amount-checkbox">
          Amount Under 300
        </label>
      </li>
      
      </div>
    <div class="container" >
  <div class="row" style="margin-left: -15%; " id="filterproduct">
  
   
   
    {% for p in details %}
      <div class="col-lg-4 big" >
    
          <div class="item"  id ="parent" style="  display:table-cell; vertical-align:middle; text-align:center; margin-bottom: 2px;" >
              <div class="thumb product" id="child" data-product-id="{{ p.id }}">
                <div class="hover-content" style="width: 100%; ">
                  
                <a data-product="{{p.id}}" class="link-button add-to-cart" id="add_to_cart"  > ADD TO CART</a>
                

                 <a   data-product="{{p.id}}" class="link-button2 add-to-wishlist" id=" add_to_wishlist" >
                 WISHLIST
                   </a>
                    
              </div>
                  {% if p.image %}
                  <a href="{% url 'selectoneproduct' p.id %}" >  <img src="{{p.image.url}}" class="image" alt=""  style="width: 380px;">   </a> {%endif%}
              </div>
       
              <div class="down-content"  > 
                  <div style=" height: 50px;"><h6>{{p.name}}</h6></div>
                  <div style="display: flex ; margin-top: 5%;">
             
                <div><h5>{{p.price}}</h5></div> <div style="margin-left: 20px;"><h5>{{p.Offer_price }}</h5><h6 style="color: red;">(Offer price)</h6></div> 
                  <h5></h5></div>
              </div>
               <i></i>
              </div>
          </div>
          {% endfor %}
    
          
      &nbsp;&nbsp;&nbsp; 
      
  </div>
</div>
  </div>
  </section>




<!-- ***** Footer Start ***** -->
<footer>
<div class="container">
  <div class="row">
      <div class="col-lg-3">
          <div class="first-item">
              <div class="logo">
                  <img src="{% static 'images/fc_logo.png' %}"   alt="hexashop ecommerce templatemo">
              </div>
              <ul>
                  <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                  <li><a href="#">firstcry.com</a></li>
                  <li><a href="#">010-020-0340</a></li>
              </ul>
          </div>
      </div>
      <div class="col-lg-3">
          <h4>Shopping &amp; Categories</h4>
          <ul>
              <li><a href="#">Men’s Shopping</a></li>
              <li><a href="#">Women’s Shopping</a></li>
              <li><a href="#">Kid's Shopping</a></li>
          </ul>
      </div>
      <div class="col-lg-3">
          <h4>Useful Links</h4>
          <ul>
              <li><a href="#">Homepage</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Contact Us</a></li>
          </ul>
      </div>
      <div class="col-lg-3">
          <h4>Help &amp; Information</h4>
          <ul>
              <li><a href="#">Help</a></li>
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Tracking ID</a></li>
          </ul>
      </div>
      <div class="col-lg-12">
          <div class="under-footer">
              <p>Copyright © 2022 Firstcry. All Rights Reserved. 
              
             
              <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</div>
</footer>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/adding.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/nn.js' %}"></script>
<script  src="{% static 'js/filter.js' %}"></script>

</body>
</html>