{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Automatic Carousel</title>

  <link rel="stylesheet" type="text/css" href=" {% static 'styles/css.css' %}" />


  <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css ' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'styles/font-awesome.css' %}">

  <link rel="stylesheet" href="{% static 'styles/templatemo-hexashop.css' %}">

  <link rel="stylesheet" href="{% static 'styles/menubar.css' %}">

  <link rel="stylesheet" href="{% static 'styles/new.css' %}">

  <link rel="stylesheet" href="{% static 'styles/foruser.css' %}">

</head>
<body>
<header>

  <div >
    <div class="mainlogo"><img src="{% static 'images/fc_logo.png' %}" alt="">  
                    <div class="about">
                        
                        <ul>

                          <li><a href="{% url 'user_login'%}">Login | </a></li>
                          <li><a href="{% url 'register'%}">Register </a><span>|</span></li>
                            <li><a href="">Wishlist </a><span>|</span></li>
                            <li><a href="">Cart</a></li>
            
                        </ul>
                    </div>
        </div>
    </div>   

    <!-- ***** Header Area End ***** -->

  <!-- navmenu -->
    <nav >
        <div class="wrapper">
          <input type="radio" name="slider" id="menu-btn">
          <input type="radio" name="slider" id="close-btn">
          <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a href="{% url 'first' %}">Home</a></li>
            <li><a href="#">About</a></li>
            <li>
              <a href="#" class="desktop-item">Dropdown Menu</a>
              <input type="checkbox" id="showDrop">
              <label for="showDrop" class="mobile-item">Dropdown Menu</label>
              <ul class="drop-menu">
                <li><a href="#">Drop menu 1</a></li>
                <li><a href="#">Drop menu 2</a></li>
                <li><a href="#">Drop menu 3</a></li>
                <li><a href="#">Drop menu 4</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="desktop-item">Mega Menu</a>
              <input type="checkbox" id="showMega">
              <label for="showMega" class="mobile-item">Mega Menu</label>
              <div class="mega-box">
                <div class="content">
                  <div class="row">
                
                  </div>
                  <div class="row">
                    <header>Design Services</header>
                    <ul class="mega-links">
                      <li><a href="#">Graphics</a></li>
                      <li><a href="#">Vectors</a></li>
                      <li><a href="#">Business cards</a></li>
                      <li><a href="#">Custom logo</a></li>
                    </ul>
                  </div>
                  <div class="row">
                    <header>Email Services</header>
                    <ul class="mega-links">
                      <li><a href="#">Personal Email</a></li>
                      <li><a href="#">Business Email</a></li>
                      <li><a href="#">Mobile Email</a></li>
                      <li><a href="#">Web Marketing</a></li>
                    </ul>
                  </div>
                  <div class="row">
                    <header>Security services</header>
                    <ul class="mega-links">
                      <li><a href="#">Site Seal</a></li>
                      <li><a href="#">VPS Hosting</a></li>
                      <li><a href="#">Privacy Seal</a></li>
                      <li><a href="#">Website design</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="#">Feedback</a></li>
          </ul>
          <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
      </nav>

</header>
<div style="width: 100%; height: 50px;">

</div>

<!-- End of the navmenu-->

{% for p in details %}
<section class="section" id="product" >

        <div class="row" >
            <div class="col-lg-3" style=" margin-left: 300px;">
            <div class="left-images product" data-product-id="{{ p.id }}">
                {%if p.image %}
                <img src="{{p.image.url}}" alt="">{%endif%}
                      <a href="{% url 'user_login'%}" class="link-button" >
                         ADD TO CART</a>
           
                    <a  href="{% url 'user_login'%}" class="link-button2 " id=" " >
                       
                        WISHLIST</a>
        
                  
            </div>
        </div>
       
        <div class="col-lg-5" style=" margin-left: 20px;">
            <div class="right-content">
                <h4>{{p.name}}</h4>
             
                <span>Product ID : {{p.id}}</span>
                <div class="quantity-content">
                    <span><h5 style="color: black;">{{p.Offer_price}}</h5></span>
                    <div class="left-content" style=" width: 100%;">
                        <span><h5 style="color: black;">Product Details</h5></span>
                        <div class="col-lg-6" style=" display: flex;">
                            <div>
                            <h6>Type</h6>
                            <h6>Neck</h6>
                            <h6>Sleeve Length</h6>
                            <h6>Description</h6> </div>
                             <div  style=" margin-left: 20px;">
                            <h6>type</h6>
                            <h6>{{p.necktype}}</h6>
                            <h6>{{p.sleevetype}} </h6>
                            <h6>{{p.description}}</h6>    
                        </div>   
                        </div>
                       
                       
                       
                      
                    </div>
                    <div class="right-content">
                   
                    </div>
                </div>
                
            </div>
        </div>
        </div>
   
</section>
{% endfor %}
<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                        <img src="{% static 'images/fc_logo.png' %}" alt="hexashop ecommerce templatemo">
                    </div>
                    <ul>
                        <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                        <li><a href="#">firstcry.com</a></li>
                        <li><a href="#">010-020-0340</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Shopping &amp; Categories</h4>
                <ul>
                    <li><a href="#">Men’s Shopping</a></li>
                    <li><a href="#">Women’s Shopping</a></li>
                    <li><a href="#">Kid's Shopping</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Homepage</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Tracking ID</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>Copyright © 2022 Firstcry. All Rights Reserved. 
                    
                   
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </footer>
  
  
  
  
  
  
  
  
  
  
  
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static 'js/custom.js' %}"></script>

  <script src="{% static 'js/quantity.js' %}"></script>


  
  </body>
  </html>