
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Firstcry</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href=" {% static 'styles/css.css' %}" />


  <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.min.css ' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'styles/font-awesome.css' %}">

   <link rel="stylesheet" href="{% static 'styles/templatemo-hexashop.css' %}">

  <link rel="stylesheet" href="{% static 'styles/menubar.css' %}">

  <link rel="stylesheet" href="{% static 'styles/new.css' %}">

  <link rel="stylesheet" href="{% static 'styles/foruser.css' %}"> 
 
  <style>


   




  </style>


</head>
<body>
<header>

  <div >
    <div class="mainlogo"><img src="{% static 'images/fc_logo.png' %}" alt="">  
                    <div class="about">
                        
                        <ul>
                            <li><a href="">Track Order | </a></li>
                            <li><a href="{% url 'logout' %}">LogOut </a><span>|</span></li>
                            <li><a href="{% url 'useraccount' %}">Account </a><span>|</span></li>
                            <li><a href="{% url 'wishlist' %}">Wishlist </a><span>|</span></li>
                            <li><a href="{% url 'cart' %}">Cart</a></li>
            
                        </ul>
                    </div>
        </div>
    </div>   

    <!-- ***** Header Area End ***** -->

  <!-- navmenu -->
  <nav >
    <div class="wrapper">
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="{% url 'userhome' %}">Home</a></li>
        <li>

          <a href="#" class="desktop-item">ALL CATEGORY</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Mega Menu</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
         
              </div>
              <div class="row">
                <header>Design Services</header>
                <ul class="mega-links">
                  <li><a href="#">Graphics</a></li>
                  <li><a href="#">Vectors</a></li>
                  <li><a href="#">Business cards</a></li>
                  <li><a href="#">Custom logo</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Email Services</header>
                <ul class="mega-links">
                  <li><a href="#">Personal Email</a></li>
                  <li><a href="#">Business Email</a></li>
                  <li><a href="#">Mobile Email</a></li>
                  <li><a href="#">Web Marketing</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Security services</header>
                <ul class="mega-links">
                  <li><a href="#">Site Seal</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                  <li><a href="#">Privacy Seal</a></li>
                  <li><a href="#">Website design</a></li>
                </ul>
              </div>
            </div>
          </div>



        </li>
        <li>
          <a href="#" class="desktop-item">Mega Menu</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Mega Menu</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
             
              </div>
              <div class="row">
                <header>Design Services</header>
                <ul class="mega-links">
                  <li><a href="#">Graphics</a></li>
                  <li><a href="#">Vectors</a></li>
                  <li><a href="#">Business cards</a></li>
                  <li><a href="#">Custom logo</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Email Services</header>
                <ul class="mega-links">
                  <li><a href="#">Personal Email</a></li>
                  <li><a href="#">Business Email</a></li>
                  <li><a href="#">Mobile Email</a></li>
                  <li><a href="#">Web Marketing</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Security services</header>
                <ul class="mega-links">
                  <li><a href="#">Site Seal</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                  <li><a href="#">Privacy Seal</a></li>
                  <li><a href="#">Website design</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="#" class="desktop-item">Mega Menu</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Mega Menu</label>
          <div class="mega-box">
            <div class="content">
              <div class="row">
       
              </div>
              <div class="row">
                <header>Design Services</header>
                <ul class="mega-links">
                  <li><a href="#">Graphics</a></li>
                  <li><a href="#">Vectors</a></li>
                  <li><a href="#">Business cards</a></li>
                  <li><a href="#">Custom logo</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Email Services</header>
                <ul class="mega-links">
                  <li><a href="#">Personal Email</a></li>
                  <li><a href="#">Business Email</a></li>
                  <li><a href="#">Mobile Email</a></li>
                  <li><a href="#">Web Marketing</a></li>
                </ul>
              </div>
              <div class="row">
                <header>Security services</header>
                <ul class="mega-links">
                  <li><a href="#">Site Seal</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                  <li><a href="#">Privacy Seal</a></li>
                  <li><a href="#">Website design</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="#">Feedback</a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
  </nav>

</header>

<!-- End of the navmenu-->


<section class="section remove" id="products" style="margin-top: 10%; ">
  
    <div id="images" class="" style="background-color: #ffffff;; margin-left: 200px;  box-shadow: 2px 2px 5px; width: 80%; height: 100%;" >
    
    
   

     
        {% if start %}
        <div>
            <h2>Your Wishlist Is Empty</h2>
        </div>

        {%else%}
        <div style="height: 50px; border-bottom: 2px solid rgb(99, 18, 18); border-right: 2px solid rgb(99, 18, 18); width: 250px;"> <h3 style=" margin-left: 10px; padding-top: 5px;  " > Your Wishlist </h3></div>
        
        <div style="height: 100px; border-top: 2px solid rgb(93, 93, 93);"></div>
        <div class="container" >
            <div class="row" style="margin-left: -15%;   " id="filterproduct">
                  <!-- Your images go here -->
            
   
    {% for p in details %}
      <div class="col-lg-4 big" >
    
          <div class="item product"  data-product-id="{{ p.product.id }}" id ="parent" style="  display:table-cell; vertical-align:middle; text-align:center; margin-bottom: 2px;" >
              <div class="thumb product" id="child" data-product-id="{{ p.product.id }}">
                <div class="hover-content" style="width: 100%; " id="hover-content">
                  
                <a data-product="{{p.product.id}}" class="link-button add-to-cart" id="add_to_cart"  > ADD TO CART</a>
                

                 <a   data-product="{{p.id}}" class="link-button2  remove-from-wishlist" id=" remove-from-wishlist" >
                 REMOVE
                   </a>
                    
              </div>
                  {% if p.product.image %}
                  <a href="{% url 'selectoneproduct' p.product.id %}?size={{p.size}}" >  <img src="{{p.product.image}}" class="image" alt=""  style="width: 380px;">   </a> 
                  {%endif%}
              </div>
       
              <div class="down-content"  > 
                  <div style=" height: 50px;"><h6 style="font-size: 15px;">{{p.product.name}}</h6></div>
                  <div style="display: flex ; margin-top: 1px;">
             
                <div>
                  <h6 style="font-size: 18px;">
                    <i class="fa fa-rupee"  ></i>{{p.product.Offer_price }}</h6>
                </div>
                     <div style="margin-left: 20px; margin-top: -2px; display: flex;">
                      <span style="text-decoration: line-through;">
                        <i class="fa fa-rupee" style="text-decoration: line-through;" ></i>{{p.product.price}} </span> 
                        &nbsp;&nbsp; 
                        <span style="color: red;">({{p.product.deal}}% Off)</span>
                      </div> 
                      <br>
                
               
                  </div>
              </div>
              <div class="color-line" >
                <div class="color" ><button class="color-button" data-id="{{ p.product.varient.colors.code }}" ></button>
                  

                </div>
                <div class="line"></div>
                
              </div>
              <form action=" {% url 'selectoneproduct' p.product.id %}" method="post">
                {% csrf_token %}
              <div class="size-content" style="line-height: 1px;">
                  
                {% if p.size ==  "zerotothreeM" %}
                 Size <button type= "submit" name="zerotothreeM"> 0 - 3M</button>
                {%endif%}
                {% if p.size ==  "threetosixM" %}
                Size <button  type="submit" name="threetisixM" > 3 - 6M</button>
                {%endif%}
                {% if p.size ==  "sixtonineM" %}
                Size <button  type="submit" name="sixtonineM"> 6 - 9M</button>
                {%endif%}
                {% if p.size ==  "ninetotwelveM" %}
                Size  <button  type="submit" name="ninetotwelveM"> 9 - 12M</button>
                {%endif%}
                {% if p.size ==  "twelvetoeighteenM"%}
                Size <button  type="submit" name="twelvetoeighteenM"> 12 - 18M</button>
                {%endif%}
                {% if p.size ==  "eighteentotwentyfourM" %}
                Size <button  type="submit" name="eighteentotwentyfourM"> 18 - 24M</button>
                {%endif%}
                {% if p.size ==  "twotofourY" %}
                Size <button  type="submit" name="twotofourY"> 2 - 4Y</button>
                {%endif%}
               
                  {%if p.size ==  "fourtosixY"%}
                  Size <button type="submit" name="fourtosixY">4 - 6Y</button>
                  {%endif%}
                  {%if p.size ==  "sixtoeightY" %}
                  Size <button type="submit" name="sixtoeightY">6 - 8Y</button>
             
                  {%endif%}
              

               
                 
              </div>
            </form>
               <i></i>
              </div>
          </div>
          {% endfor %}
          {%endif%}
          </div>
      &nbsp;&nbsp;&nbsp; 
      
  </div>


  </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const buttons = document.querySelectorAll('.color-button');
      buttons.forEach(button => {
          const color = button.dataset.id;
          console.log(color)
          button.style.backgroundColor = color;
        });
    });
</script>
 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/adding.js' %}"></script>


    
 

<!-- ***** Footer Start ***** -->
<footer>
<div class="container">
  <div class="row">
      <div class="col-lg-3">
          <div class="first-item">
              <div class="logo">
                  <img src="{% static 'images/fc_logo.png' %}"   alt="hexashop ecommerce templatemo">
              </div>
              <ul>
                  <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                  <li><a href="#">firstcry.com</a></li>
                  <li><a href="#">010-020-0340</a></li>
              </ul>
          </div>
      </div>
      <div class="col-lg-3">
          <h4>Shopping &amp; Categories</h4>
          <ul>
              <li><a href="#">Men’s Shopping</a></li>
              <li><a href="#">Women’s Shopping</a></li>
              <li><a href="#">Kid's Shopping</a></li>
          </ul>
      </div>
      <div class="col-lg-3">
          <h4>Useful Links</h4>
          <ul>
              <li><a href="#">Homepage</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Contact Us</a></li>
          </ul>
      </div>
      <div class="col-lg-3">
          <h4>Help &amp; Information</h4>
          <ul>
              <li><a href="#">Help</a></li>
              <li><a href="#">FAQ's</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Tracking ID</a></li>
          </ul>
      </div>
      <div class="col-lg-12">
          <div class="under-footer">
              <p>Copyright © 2022 Firstcry. All Rights Reserved. 
              
             
              <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</div>
</footer>




<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/adding.js' %}"></script>

</body>
</html>